header {
    background-color: blue;

    .container {
        display: flex;
        justify-content: space-between;
        // padding: 20px;
        align-items: center;
        color: white;
        position: relative;

        .category {
            padding: 20px;

            ul {
                display: flex;

                li {
                    list-style: none;
                    margin-right: 10px;

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 17px;
                        font-weight: bold;
                        &:hover {
                            color: yellow;

                            .drop-down {
                                // display: block;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }

                    .drop-down {
                        width: 100%;
                        margin-top: 10px;
                        padding: 15px;
                        border-radius: 10px;
                        border: 2px solid rgba(0, 0, 0, 0.244);
                        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.393);
                        position: absolute;
                        top: 100%;
                        left: 0;
                        color: black;
                        // display: none;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.5s ease-in-out;
                        // width: 0;

                        .item {
                            font-weight: bold;
                            font-size: 20px;
                            width: 25%;
                            color: black;

                            .second-drop {
                                font-weight: 400;
                                font-size: 18px;
                                display: flow-root;
                            }
                        }


                    }
                }
            }
        }
    }
}